<h3>總金額{{totalAmount}}</h3>
<ul>
  {{#each record}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto me-auto">
          <h4 style="display: inline; vertical-align: middle;">
            {{ this.name }}
          </h4>
          <h5 style="display: inline; vertical-align: middle;">
            {{this.amount}}
          </h5>
        </div>
        <div class="col-auto">
          <a class="btn btn-success" href="./records/{{ this._id }}/edit">edit</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<a class="btn btn btn-success mb-3" href="/records/new">Create</a>